body {
    background-color: #E6E6E6;
    font-family: 'Abel', sans-serif;
}
.main-header {
    font-family: 'Anton', sans-serif;
    padding-bottom: 20px;
}
.location-header {
    font-family: 'Anton', sans-serif;
}
hr {
    border-top: grey solid 2px;
}
.header-item-selected-work h3, .header-item-the-last h3 {
    font-size: 16px;
}
.row-images img{
    height: calc(100% - 20px);
    width: 100%;
    padding: 0;
    border: 5px solid lightgray;
}
.caption-text {
    margin: 1px;
}
.card {
    border: none;
    background-color: #E6E6E6;
}
.card-body {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

/*Styling for icons with entire word*/
.design-icon, .develop-icon,
.support-icon, .host-icon {
    border-radius: 50%;
    border: 5px solid white;
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    width: 75px;
    height: 75px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.design-icon { background-color: #E6563B; }
.develop-icon { background-color: #EB903A; }
.support-icon { background-color: #7CB06C; }
.host-icon { background-color: #00ABA9; }

/*Styling for the icons with an individual letter*/
.letter-icon-design, .letter-icon-develop,
.letter-icon-support, .letter-icon-host {
    border-radius: 50%;
    padding: 6px 10px;
    margin-right: 5px;
    font-family: 'Anton', sans-serif;
}
.letter-icon-design { background-color: #E6563B; }
.letter-icon-develop { background-color: #EB903A; }
.letter-icon-support { background-color: #7CB06C; }
.letter-icon-host { background-color: #00ABA9; }

.news-text {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}
/*Hiding HR so we can choose when to show it*/
hr {
    visibility: hidden;
}
/*This Media is for X-Large screen size*/
@media screen and (min-width: 1200px) {
    hr {
        visibility: visible;
    }
    article {
        margin-bottom: 45px;
    }
    article img {
        border: 2px solid lightgray;
        border-radius: 2px;
     }
    .news-text {
        margin-left: 20px;
    }
    .header-item-selected-work {
        margin-top: 18px;
    }
    .header-item-the-last {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .card-text {
        font-size: 12px;
    }
}
/*This Media is for Large Screens*/
@media screen and (max-width: 1199px) and (min-width: 991px) {
    hr {
        visibility: visible;
    }
    .project-image {
        margin-top: 90px;
    }
    .article {
        margin-bottom: 80px;
    }
    .news-text {
        margin-left: 20px;
    }
    .header-item-selected-work, .header-item-the-last{
        margin-top: 18px;
    }
    .news-section {
        margin-top: 30px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-body {
        padding-bottom: 90px;
    }
    .tweet-text {
        font-weight: bolder;
        padding-bottom: 0;
    }
}

/*Using media to hide certain elements on small screens and medium screens, design icons*/
@media screen and (max-width: 991px ) {
    .header-item-the-last, .codeup-design, .news-section{
        display: none;
    }
    .header-icons {
        display: inline-grid;
        grid-template-rows: 100px 100px;
        grid-template-columns: 100px 100px;
        grid-gap: 3px;
    }
    .header-item-selected-work {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .card-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px){
    hr {
        visibility: visible;
    }
    .header-icons {
        display: inline-grid;
        grid-template-rows: 100px ;
        grid-template-columns: 100px 100px 100px 100px;
        grid-gap: 3px;
        padding-bottom: 35px;
    }
}

/*This Media Query is for X-Small & Small Screens*/
@media screen and(min-width: 200px) and(max-width: 767px) {
    hr {
        visibility: hidden;
    }
    .header-icons {
        display: inline-grid;
        grid-template-rows: 100px 100px;
        grid-template-columns: 100px 100px;
        grid-gap: 3px;
        padding-bottom: 35px;
    }
    .card-text {
        font-size: 16px;
    }
    .letter-icon-support, .letter-icon-host, .letter-icon-develop, .letter-icon-design {
        padding: 4px 8px;
    }
    .design-icon, .develop-icon, .support-icon, .host-icon {
        width: 75px;
    }
}