* {
    box-sizing: border-box;
}
body {
    background-color: #E6E6E6;
    font-family: 'Abel', sans-serif;
}
.navbar {
    background-color: #E6E6E6;
}
hr {
    border-top: grey solid 2px;
}
.main-header {
    font-family: 'Anton', sans-serif;
    padding-bottom: 20px;
}
.location-header {
    font-family: 'Anton', sans-serif;
}
.row-images img{
    height: calc(100% - 20px);
    width: 100%;
    padding: 0;
    border: 5px solid lightgray;
}
.caption-text {
    margin: 1px;
}
.card {
    border: none;
    background-color: #E6E6E6;
}
.card-body {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.header-icons {
    flex-wrap: nowrap;
    text-align: center;
}
.design-icon {
    border-radius: 50%;
    border: 5px solid white;
    width: 75px;
    height: 75px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #E6563B;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

.develop-icon {
    border-radius: 50%;
    border: 5px solid white;
    width: 75px;
    height: 75px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #EB903A;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}
.support-icon {
    border-radius: 50%;
    border: 5px solid white;
    width: 75px;
    height: 75px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 30px;
    background-color: #7CB06C;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}
.host-icon {
    border-radius: 50%;
    border: 5px solid white;
    width: 75px;
    height: 75px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #00ABA9;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}
.letter-icon-design {
    border-radius: 50%;
    padding: 6px 10px;
    margin-right: 5px;
    background-color: #E6563B;
    font-family: 'Anton', sans-serif;
}
.letter-icon-develop {
    border-radius: 50%;
    padding: 6px 10px;
    margin-right: 5px;
    background-color: #EB903A;
    font-family: 'Anton', sans-serif;
}
.letter-icon-support {
     border-radius: 50%;
     padding: 6px 10px;
     margin-right: 5px;
     background-color: #7CB06C;
    font-family: 'Anton', sans-serif;
}
.letter-icon-host {
      border-radius: 50%;
      padding: 6px 10px;
      margin-right: 5px;
      background-color: #00ABA9;
      font-family: 'Anton', sans-serif;
}
.news-text {
    font-size: 20px;
    font-weight: bolder;
}
.article {
    margin-bottom: 30px;
}
.news-text {
    font-family: 'Anton', sans-serif;
}
.selected-work h3 {
    font-size: 16px;
}
.the-last h3 {
    font-size: 16px;
}
/*This Media is for X-Large screen size*/
@media screen and  (min-width: 1200px) and (max-width: 1399px)  {
    .news-text {
        margin-left: 20px;
    }
    .selected-work {
        margin-top: 18px;
    }
    .the-last {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .card-text {
        font-size: 12px;
    }
}
/*This Media is for Large Screens*/
@media screen and (max-width: 1199px) and (min-width: 991px ) {
    .project-image {
        margin-top: 70px;
    }
    .news-text {
        margin-left: 20px;
    }
    .selected-work {
        margin-top: 18px;
    }
    .the-last {
        margin-top: 18px;
    }
    .news-section {
        margin-top: 18px;
    }
    .card-text {
        font-size: 14px;
    }
}
/*Using media to hide hr on small screens as well as medium screens*/
@media screen and (max-width: 991px ) {
    .the-last {
        display: none;
    }
    .news-section {
        display: none;
    }
    .card-text {
        font-size: 18px;
    }
    .selected-work {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .letter-icon-design {
        border-radius: 50%;
        padding: 4px 8px;
        margin-left: 1px;
        margin-right: 0;
        background-color: #E6563B;
    }
    .letter-icon-develop {
        border-radius: 50%;
        padding: 4px 8px;
        margin-left: 1px;
        margin-right: 0;
        background-color: #EB903A;
    }
    .letter-icon-support {
        border-radius: 50%;
        padding: 4px 8px;
        margin-left: 1px;
        margin-right: 0;
        background-color: #7CB06C;
    }
    .letter-icon-host {
        border-radius: 50%;
        padding: 4px 8px;
        margin-left: 1px;
        margin-right: 0;
        background-color: #00ABA9;
    }
    .codeup-design {
        display: none;
    }
}
/*This is for Small Screens*/
@media screen and (max-width: 770px) {
    .card-text {
        font-size: 16px;
    }
    .letter-icon-support {
        padding: 4px 8px;
    }
    .letter-icon-host {
        padding: 4px 8px;
    }
    .letter-icon-develop {
        padding: 4px 8px;
    }
    .letter-icon-design {
        padding: 4px 8px;
    }
    .header-icons {
        flex-wrap: wrap;
    }
    .design-icon {
        width: 75px;
    }
    .develop-icon {
        width: 75px;
    }
    .support-icon {
         width: 75px;
    }
    .host-icon {
        width: 75px;
    }

}
